<h1>{{msg}}</h1>

<!--<button>bay mau</button>-->

<!--<form method="get" action="{% url 'accept-new-password-list' %}">-->
<!--    <label for="param">Parameter:</label>-->
<!--    <input type="text" id="param" name="param" value="{{ param_value }}">-->
<!--    <label for="select_option">Select Option:</label>-->
<!--    <select id="select_option" name="select_option">-->
<!--        <option value="option1">Option 1</option>-->
<!--        <option value="option2">Option 2</option>-->
<!--        <option value="option3">Option 3</option>-->
<!--    </select>-->
<!--    <label for="select_option1">Select Option:</label>-->
<!--    <select id="select_option1" name="select_option1">-->
<!--        <option value="option4">Option 4</option>-->
<!--        <option value="option5">Option 5</option>-->
<!--        <option value="option6">Option 6</option>-->
<!--    </select>-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->