h1.title{
    text-align:center;
    font-size:35px;
    font-weight: 500;
    margin: 3% auto;
}
div.container{
    width:70%;
    margin:0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    padding:3%;
    border-radius:10px;
}
form.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:7%;
}
select{
    width:25%
}
button{
    width:10%
}
div.url{
    text-align: center;
    text-decoration: none;
}
