h1.name-page {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin: 3% auto;
}
div.main {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin: 0 auto;
}
div.main>div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    padding:2%;
    text-align:center;
    margin:0 auto;
    border-radius:10px;
}
div.main>div.main1 {
    width:30%;

}
div.main>div.main2 {
    width:55%;
}
table.table {
    width:100%;
    height:auto;
}
form.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:7%;
}
h2{
    margin-bottom:5%;
}
select#select_option{
    width:40%
}
button{
    width:20%
}
.url{
    text-align: center;
    text-decoration: none;
}
