{% extends 'admin/base_site.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block content %}
<h1>THỐNG KÊ</h1>
<form method="get" >
    <label for="param">Parameter:</label>
    <input type="text" id="param" name="param" value="{{ year }}">
    <label for="select_option">Select Option:</label>
    <select id="select_option" name="select_option">
        {%for i in stats%}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
<!--    <label for="select_option1">Select Option:</label>-->
<!--    <select id="select_option1" name="select_option1">-->
<!--        <option value="option4">Option 4</option>-->
<!--        <option value="option5">Option 5</option>-->
<!--        <option value="option6">Option 6</option>-->
<!--    </select>-->
    <button type="submit">Lọc</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}